* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent-div {
    background-image: url(../Images/Yosemite.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    float: left;
}

.right-panel {
    height: 100vh;
    width: 65vw;
    position:absolute;
    right: 0;
    top: 0;
    background-color: white;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 999;
}

.right-panel.show {
    transform: translateX(0);
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 80px;
    color:rgb(53, 87, 20);
    height:100px;
}

span {
    color:rgb(84, 138, 30);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.where-to {
    color: white;
    font-family: 'Vollkorn', serif;
    display: block;
    font-size: 30px;
     text-indent: 15%; 
     height: 30px; 
} 

.state-select {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}

.state-selected {
    display:block;
    float: left;
    padding-top: 5%;
}

.where-to-selected {
    color: white;
    font-family: 'Vollkorn', serif;
    display: block;
    font-size: 30px;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.select-selected {
    margin-top: 6%;
    margin-bottom: 6%;
}

.selection {
    margin: 10%;
}

.delete {
    margin: 10px;
} 

/* WEATHER STYLES*/

.card {
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 12px;
}

.card-bg {
    background-image: url('../images/card-bg.jpg');
    opacity: 0.5;
}

.parkCard {
    text-align: center;
    color: black;
}

#current-city {
text-align: center;
font-size: 20px;
}

#park-city {
    text-align: center;
    font-size: 20px;
    }

#main-container p {
    font-size: 12px;
}

#master-container {
    background-image: url('../images/master-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    padding-bottom: 15px;
    border-radius: 15px;
}

#ParkCards {
    display: flex;
    flex-wrap: wrap;
    border: red;
    margin-left: 35px;
    justify-content: space-around;
}

.parkCard {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;

    width: 30%;
    border: rgba(9, 85, 25, 0.46) solid 2px;
    border-radius: 15px;
}

.parkCard img {
    border-radius: 15px;
    height: 200px;
    width: 70%;
    margin: 5px;   
    cursor: grab;
}

.parkCard img:hover {
    border: rgba(17, 106, 20, 0.666) solid 2px;
}

#park-name-header {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 13px;
    margin: 10px;
}

#park-name-header {
    background-color: rgba(17, 106, 20, 0.666);
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
}

#park-info-mainContainer {
    text-align: center;
justify-content: center;
width: 70vw;
height: 90vh;
}

#park-details {
    width: 90%;
    height: 50%;
    border: #555 solid 2px;
    margin: 20px;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


     .parkCards {
          width: 100%;
          height: 50%;
      }

      #ParkCards2 {
          text-align: center;
        width: 80%;
        height: 600px;
        border: red solid 2px;
    } 
        .noShow {
        display: none;
    }

  /* scrollbar end*/

  @media screen and (max-width: 1550px) {
      #confucius {
       font-size: 25px; 
      }

      .where-to-selected {
          font-size: 25px;
      }
  }
   
  @media screen and (max-width: 1290px) {
    .right-panel {
        width: 100%;
    }
  }



/* Media queries are needed for the proper left sidebar view */
/* width 70vw -> 100vw right panel */
/* We can make 100vw for the right panel (instead of 65vw) for the small screen sizes, there's a button to close and return back to the search panel */
