* {
    margin: 0;
    padding: 0;
}

#parent-div {
    background-image: url(../Images/Yosemite.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.right-panel {
    height: 100vh;
    width: 65vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 999;
}

.right-panel.show {
    transform: translateX(0);
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 80px;
    color:rgb(53, 87, 20);
    height:100px;
}

span {
    color:rgb(84, 138, 30);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.where-to {
    color: white;
    font-family: 'Vollkorn', serif;
    display: block;
    font-size: 30px;
     text-indent: 15%; 
     height: 30px; 
} 

.state-select {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}

.state-selected {
    display:block;
    float: left;
    padding-top: 5%;
}

.where-to-selected {
    color: white;
    font-family: 'Vollkorn', serif;
    display: block;
    font-size: 30px;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.select-selected {
    margin-top: 6%;
    margin-bottom: 6%;
}

.selection {
    margin: 10%;
}

.delete {
    margin: 10px;
} 

#future-clicked {
    display: none;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* scrollbar end*/

  @media screen and (max-width: 1550px) {
      #confucius {
       font-size: 25px; 
      }

      .where-to-selected {
          font-size: 25px;
      }
  }
   
  @media screen and (max-width: 1290px) {
    .right-panel {
        width: 100%;
    }
  }


/* Media queries are needed for the proper left sidebar view */
/* width 70vw -> 100vw right panel */
/* We can make 100vw for the right panel (instead of 65vw) for the small screen sizes, there's a button to close and return back to the search panel */
